* {
	text-decoration: none;
	list-style-type: none;
  box-sizing: border-box;
  margin: 0px;
}

.main{
	height: 800px;
	width: 100%;
	background-color: aqua;
}
.navmain{
	height: 13%;
	width: 100%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
/*	padding: 15px;*/
}
.navmain .logo{
	margin: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.onee{
		height: 50px;
	width: 50px;
	position:relative;
}
.icon{
	position: absolute;
	top: 0px;
}
.navmain .logo img{
	height: 50px;
	width: 50px;

}
.navmain .logo .logoname{
	display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 1px;
font-family:itali;
}
.navmain .logo .logoname .one {
	font-size: 25px;
	color: blue;

}
.navmain .logo .logoname .two{
	font-size: 13px;
	color: blue;
}

.icon{
	height: 100%;
	
	background-color:white;
	box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 8);
font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
 .icon .ione{

	width: 95%;
	margin: 5px;
	background-color:blue;
	border-radius: 25px;
	padding: 12px;
	display: flex;
	color: white;
	justify-content: center;
	align-items: flex-end;

}
.icon .ione i{
	margin-right:0px;
}
/*form*/

form.example input[type=text] {
  padding: 9px;
  font-size: 17px;
  border: 1px solid lightgray;
  float: left;
  width: 80%;
/*  background: red;*/
}
/*form.example{
	width: 60%;
}
*/
.search{
	width:35%;


}
form.example button {
  float: left;
  width: 10%;
  padding: 9px;
  background:lightgray;
  color: white;
  font-size: 17px;
  border: 1px solid lightgray;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background:gray;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.contect{
	display: flex;
	align-items: center;
	justify-content: center;

}
.contect i{
	font-size: 30px;
	margin: 15px;
}
.delivery{
	display: flex;
	align-items: center;
	justify-content: center;
}
.delivery i{
	font-size: 30px;
	margin: 15px;
}
.onecnt{
	font-size: 18px;
	font-weight: 200;
}
.twocnt{
	color: blue;
	font-size: 17px;
}

/*.icon{
	height: 100%;
	width: 20%;
	background-color:white;
	box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 8);
	color: blue;
	display: flex;
	flex-direction: column;
	align-items: center;
}*/
 .icon .itwo{

	width: 90%;
	
	padding: 15px;
	margin: 5px;
	color: black;
	

}
.icon .itwo i{
	margin-right: 10px;
}
 .icon .i3{

	width: 90%;
	margin: 5px;
	padding: 15px;

	color: black;
	

}
.icon .i3 i{
	margin-right: 10px;
}
 .icon .i4{

	width: 90%;
margin: 5px;
	padding: 15px;
	
	color: black;
	

}
.icon .i4 i{
	margin-right: 10px;
}
 .icon .i5{

	width: 90%;
	margin: 5px;
	padding: 15px;
	color: black;
	

}
.icon .i5 i{
	margin-right: 10px;
}
 .icon .i6{

	width: 90%;
margin: 5px;
	padding: 15px;
	
	color: black;
	

}
.icon .i6 i{
	margin-right: 10px;
}
 .icon .i7{

	width: 90%;
	margin: 5px;
	padding: 15px;
	
	color: black;
	

}
.icon .i7 i{
	margin-right: 10px;
}
 .icon .i8{

	width: 90%;
margin: 5px;
	padding: 15px;
	
	color: black;
	

}
.icon .i8 i{
	margin-right: 10px;
}
 .icon .i9{

	width: 90%;
margin: 5px;
	padding: 15px;
	
	color: black;
	

}
.icon .i9 i{
	margin-right: 10px;
}
.icon .i9 i:hover .none9{
	display: block;
}
 .icon .i10{

	width: 90%;
	margin: 5px;
	padding: 15px;
	
	color: black;
	

}
/*.icon .none9{
	display: none;
}*/
.icon .i10 i{
	margin-right: 10px;
}
/*.icon .ho .none{
	display:;
}
 .icon .ho i:hover.none{
/*display:none;*/

}*/